*{
    margin: 0px;
    font-family: sans-serif;
}
.glavni{
    
    width: 80%;
    height: 3000px;
    margin: auto;
}
.t1{
    font-size: 32px;
    font-weight: 600;
}
.t2{
    font-size: 16px;
    font-weight: 500;
}
.t3{
    font-size: 16px;
    font-weight: 500;
}
.div{
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.div2{
    display: flex;
    gap: 35px;
    align-items: center;
}
.div3{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.div1{
    padding-top: 6.5px;
    
}
.kal{
    display: flex;
    width: 100%;
    min-height: 845px;
    
}
.sla1{
    height: 845px;
    width: 587px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.sla1 h1{
    
    font-size: 48px;
    font-weight: 600;
}
.sla1 p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.sla1 h3{
    margin-top: 30px;
    width: 109px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    
}
.s1{
    display: flex;
    gap: 24px;
}
.su1{
    margin-top: 80px;
}
.su2{
    margin-top: 161px;
}







.q1{
    
    height: 736px;
    display: flex;
}
.w1{
    width: 470px;
   
    padding-top: 80px;
    padding-left: 120px;
}

.sla11{
    height: 845px;
    width: 587px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.sla11 h1{
    
    font-size: 36px;
    font-weight: 600;
}
.sla11 p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.sla11 h3{
    margin-top: 30px;
    width: 109px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    
}





.fr6{
   
    height: 960px;
}
.f1{
    
    display: flex;
  
}
.yu8 h1{
    font-size: 36px;
    font-weight: 600;
}
.yu8 p{
    font-size: 18px;
    font-weight: 400;
    color: gray;
    line-height: 28px;
}
.yu8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    width: 584px;
    
}
.c4{
    padding-left: 249px;
}



.yu83 h1{
    font-size: 36px;
    font-weight: 600;
}
.yu83 p{
    font-size: 18px;
    font-weight: 400;
    color: gray;
    line-height: 28px;
}
.yu83{
    padding-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    width: 584px;
  
}
.c43{
   
}